@font-face {
    font-family: 'LHF';
    src: url('/font/LHF_Convecta_BASE.ttf');
}

html:focus-within {
    scroll-behavior: smooth;
}

/* @font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Regular.ttf');
} */

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.links {
    text-decoration: none;
}

.navbar {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2)
}

/* .navbar:before {
    content: '';
    background: url('../img/red-nav.svg') no-repeat center center/cover;
    display: block;
    position: absolute;
    opacity: 0.3;
    width: 30vw;
    height: 100%;
    z-index: -2;
} */

.LA-Brand {
    font-family: 'LHF';
}

.nav-link {
    font-weight: 500;
}

.navbar-mobile {
    display: none;
    visibility: hidden;
}

.home-content:before {
    content: '';
    background: url('../img/bg-arrow.svg') no-repeat center center/cover;
    display: block;
    position: absolute;
    opacity: 0.3;
    top: 850px;
    left: 0px;
    width: 30vw;
    height: 100vh;
    z-index: -2;
}

.hero img {
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.7);
    pointer-events: none;
}

.hero-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
}

.hero-caption h5 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 3px;
}

.hero-caption p {
    font-size: 22px;
}

/* Home */
.features-icon {
    font-size: 50px;
}

.services-area-caption {
    padding-left: 100px;
}

.bgaa {
    box-shadow: none;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 11px;
    transition: 0.5s;
}

.services-area-slider {
    width: 500px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-area-slider img {
    width: 150px;
    height: 90px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    filter: brightness(0.7);
    pointer-events: none;
}

.city-name {
    font-weight: 500;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgab {
    box-shadow: none;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 11px;
    transition: 0.5s;
}

.services-area-slider2 {
    width: 500px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-area-slider2 img {
    width: 150px;
    height: 90px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    filter: brightness(0.7);
    pointer-events: none;
}

.commitment-card {
    display: inline-block;
    height: 300px;
    width: 80%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.commitment-image1 img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0px 0px 10px;
}

.commitment-image2 img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 10px 10px 0px;
}

.commitment-caption {
    text-align: left;
}

.commitment-caption-reverse {
    text-align: right;
}

/* Services */
.services-card {
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.services-img {
    height: 250px;
    position: relative;
}

.services-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.services-detail {
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: Calibri;
}

.links {
    text-decoration: none;
}

.services-nama {
    display: block;
    /* flex-direction: column; */
}

.services-nama p {
    color: #222222;
    margin: 5px 0;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

.services-description p {
    color: rgba(26, 26, 26, 0.5);
    margin: 3px 0;
}

.services-description span {
    color: rgba(218, 32, 32);
}

.services-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(214, 91, 91, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-logo1 {
    background: url('../img/express-logo.svg') no-repeat center center/cover;
    display: block;
    position: absolute;
    width: 20vw;
    height: 30vh;
}

.services-logo2 {
    background: url('../img/heavy-logo.svg') no-repeat center center/cover;
    display: block;
    position: absolute;
    width: 20vw;
    height: 30vh;
}

.services-overlay {
    visibility: hidden;
}

.services-img:hover .services-overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.services {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    background-color: rgb(226, 226, 226);
}

.footer-medsos {
    text-decoration: none;
    color: black;
}

.sponsor-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.sponsor-grid {
    text-align: center;
}

.partner {
    width: 125px;
    height: 75px;
}

/* Information Page */
.info {
    padding-top: 5rem !important;
    padding-bottom: 3rem !important;
}

.info-grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 10px;
}

.info-button {
    list-style: none;
    position: fixed;
    overflow: hidden;
    padding: 20px;
}

.list-info {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
}

.button-info {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.collapsible {
    background-color: rgb(226, 226, 226);
    /* color: white; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.collapsed,
.collapsible:hover {
    background-color: rgb(187, 187, 187);
}

.collapsible:after {
    content: '\002B';
    /* color: white; */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsed:after {
    content: "\2212";
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
}

.info-desc {
    scroll-margin-top: 100px;
}

/* Shipping Page */
.shipping {
    padding-top: 5rem !important;
    padding-bottom: 3rem !important;
}

.search-form {
    width: 60%;
    height: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.search-form h5 {
    text-align: center;
}

.rate {
    width: 60%;
    height: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.rate h5 {
    text-align: center;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #666666;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus,
.overlay .active {
    color: #000000;
}

.overlay .closebtn {
    position: absolute;
    top: -20px;
    /* right: 125px; */
    font-size: 60px;
}

@media screen and (max-width:600px) {
    .navbar-mobile {
        display: block;
        visibility: visible;
    }

    .navbar-desktop {
        display: none;
        visibility: hidden;
    }

    .hero-caption {
        position: absolute;
        top: 45%;
        left: 40%;
    }

    .hero-caption h5 {
        font-size: 24px;
    }

    .hero-caption p {
        font-size: 16px;
    }

    .home-content:before {
        content: '';
        background: url('../img/bg-arrow.svg') no-repeat center center/cover;
        display: block;
        position: absolute;
        opacity: 0.3;
        top: 850px;
        left: 0px;
        width: 50vw;
        height: 100vh;
        z-index: -2;
    }

    .services-area-caption {
        padding-left: 0;
        text-align: center;
    }

    .services-area-slider {
        width: 100%;
    }

    .services-area-slider2 {
        width: 100%;
    }

    .commitment {
        min-height: 1300px;
        max-height: 1400px;
    }

    .commitment-card {
        padding-bottom: 450px;
    }

    .commitment-image1 img {
        border-radius: 0px 0px 10px 10px;
    }

    .commitment-caption {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .commitment-caption-reverse {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        text-align: left;
    }

    .commitment-image2 img {
        border-radius: 0px 0px 10px 10px;
    }

    .search-form {
        width: 95%;
    }

    .rate {
        width: 95%;
    }

    .sponsor-grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px;
    }

    .sponsor-grid {
        text-align: center;
    }
}
